@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Crimson+Pro:wght@200&family=Old+Standard+TT&family=Playfair+Display&display=swap');

.tag{
  font-size: 72px;
  margin-top: 0%;
  margin-left:35%;
  margin-right: 35%;
  margin-bottom: 15%;
  color: #ddd;
  font-style: italic;
  filter: drop-shadow(3px 3px 3px #222); 
}

.loading{
  min-width: 800px; 
  min-height: 2000px;
  background:#fff;
  
}

.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.btn{
  margin: 5px;
}
.button-more{
  margin-top: -200px;
}
.back-left{
  background-color: #000;
}

.tw{
  margin-left: 20px;
}

.tagcont{
  margin-top: 100px;
}

.back{
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/homepage%2FWave-100s-1617px%20(4).png?alt=media&token=fbd55f89-f412-49b6-8336-6e4a6a63dda0'); */
  background-image: url('https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/homepage%2Fwp2126141.jpg?alt=media&token=59e7e322-7d0d-4603-a036-25ff0c85ce44');
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  
  
}

.bulb{
  width: 40%;
  height: 110%;
  margin-top: -7%;
  margin-left: 30%;
  filter: drop-shadow(1px 1px 1px #222); 
  
}
.blog{
  margin-top: 100px;
}
.about-container{
  font-family: 'Old Standard TT', serif;
  font-weight: 900;
  font-size: 80px;
  color: black;
 padding-top: 50px;
 /* padding-left: 5px; */
}
.about{
  /* font-family: Quicksand;  */
  font-family: 'Old Standard TT', serif;
  font-weight: 900;
  font-size: 50px;
  color: black;
}

.aboutCont{
  /* font-family: Quicksand;  */
  font-family: 'Arapey', serif;
  font-weight: 700;
  font-size: 35px;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 12%;
  text-align: justify;
  
}

.blogcont{
  font-size: 30px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: justify;
  font-weight: 700;
  color: rgb(58, 50, 50);
}

.blogauth{
  font-size: 25px;
  text-align: justify;
  color: #000;
}

.readmore{
  color: crimson;
}

.readmore:hover{
 
  transition: transform 1s; /* Animation */
  filter: drop-shadow(3px 3px 3px crimson); 
  transform: scale(1.5);
}

.upcoming{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
}

.upcomingimage{
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.upcomingcont{
  text-align: justify;
  font-size: 25px;
  margin-left: -20%;
  font-weight: 700;
}
.shadow{
  background-color:rgb(255, 250, 250);
  padding: 5px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.blogsec{
  margin-top: -10%;
}
.mainrow {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  margin-bottom: 7%;
}
#mycont{
  border-radius: 10px;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
.myimg{
  border: none;
}
.card{
  height: 250px;
}

@media screen and (max-width:800px) {

  /*.secondcol{
    display: none;
  }*/
  .loader{
    font-size: 40px;
    margin-top: 60%;
  }

  .loading{
    min-width: 100%;
    min-height: 1500px;
    
  }

.blog{
  margin-top: 0px;
}
  .tag{
    font-size: 40px;
    text-align: center;
    margin-top: 9%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 40%;
    padding:30%;
    align-content: center;
    filter: drop-shadow(3px 3px 3px #222); 
  }


  .bulb{
    width: 70%;
    height: 90%;
    margin-top: 5%;
    margin-left: 10%;
  }

  .about{
    font-weight: 700;
    font-size: 27px;
  }
  
  .aboutCont{
    font-size: 15px;
    margin-left: 10%;
    margin-right: 0%;
  }

  .blogcont{
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .blogauth{
    font-size: 20px;
  }

  .upcomingimage{
    width: auto;
    height: auto;
  }

  .upcomingcont{
    margin-top: 5%;
    margin-left: 0%;
    font-size: 15px;
  }

  .blogsec{
    margin-top: 0%;
  }
  .mainrow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    margin-bottom: 4%;
  }
  .card{
    height: 150px;
    
  }

  #mycont{
    width: 150px;
    margin-top: 10px;
  }

}

.arrow{
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);

}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -.2s;
}

.arrow span:nth-child(3){
  animation-delay: -.4s;
}
@keyframes scroll{
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50%{
      opacity: 1;
     
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}
.spacing{
  padding: 15px;
  margin-bottom: 15px;
}
@media(max-width:768px){
  .arrow{
      position: absolute;
      top:55%;
      left:50%;
      transform: translate(-50%, -50%);
  
  }
  .arrow span{
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #06A8FF;
      border-right: 5px solid #06A8FF;
      transform: rotate(45deg);
      margin: -10px;
      animation: scroll 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -.2s;
  }
  
  .arrow span:nth-child(3){
      animation-delay: -.4s;
  }
}
@media(max-width:320px){
  .arrow{
      position: absolute;
      top:70%;
      left:50%;
      transform: translate(-50%, -50%);
  
  }
  .arrow span{
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #06A8FF;
      border-right: 5px solid #06A8FF;
      transform: rotate(45deg);
      margin: -10px;
      animation: scroll 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -.2s;
  }
  
  .arrow span:nth-child(3){
      animation-delay: -.4s;
  }
} 
.about-background{
  background-image: url('https://c.stocksy.com/a/NFW500/z9/1315601.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
@media screen and (max-width: 800px){
.tag[_ngcontent-c1] {
    font-size: 40px;
    text-align: center;
    margin-top: 7%;
    margin-left: -3%;
    margin-right: 6%;
    margin-bottom: 40%;
    padding: 30%;
    align-content: center;
    filter: drop-shadow(3px 3px 3px #222);
}
}
