@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Old+Standard+TT&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Crimson+Pro:wght@200&family=Old+Standard+TT&family=Playfair+Display&display=swap');
.loading{
    min-width: 800px; 
    min-height: 2000px;
    background:#fff;
    
  }
  
  .loader {
    color: #fff;
    font-size: 80px;
    font-family: 'Arapey', serif;
    font-weight: 700;
    /* font-family: Quicksand, sans-serif; */
    font-family: 'Crimson Pro', serif;
    background: linear-gradient(to right, #751fd6 10%, #fff 50%, #751fd6 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
    margin-top: 15%;
  }

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.tag{
    font-size: 90px;
    margin-top: 5%;
    margin-left:35%;
    margin-right: 35%;
    margin-bottom: 15%;
    color: #000;
    /* font-style: italic; */
    text-align: center;
    filter: drop-shadow(3px 3px 3px #222); 
}

.back{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/e-cell-sakec.appspot.com/o/homepage%2FWave-100s-1617px%20(4).png?alt=media&token=fbd55f89-f412-49b6-8336-6e4a6a63dda0');
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: 100% 100%;
  }

.playercont{
    width: 100%;
    height: 500px;
    background: transparent;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.player  {
    width: 900px;
    height: 500px;
    border-radius: 10px;
}

.visiblerow{
  display: none;
}

.instagram{ 
  background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888); 
}

a {
  text-decoration: none !important;
}

.readmore{
  color: rgb(255, 255, 255);
  
}

.readmore:hover{
 
  
  text-underline-position: none; 
  transition: transform 1s; /* Animation */
  filter: drop-shadow(1px 1px 1px #222); 
  transform: scale(1.1);
  
}

.blogcontent{
  font-family: 'Arapey', serif;
  font-weight: 600;
  font-size: 30px;
  text-align: justify;
  margin-left: 11%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 3%;
  white-space: pre-wrap;
}

.author{
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 35px;
  text-align: justify;
  margin-left: 11%;
  margin-right: 1%;
  margin-top: 5%;
}

@media screen and (max-width:800px) {

    .loader{
        font-size: 40px;
        margin-top: 60%;
      }
    
      .loading{
        min-width: 100%;
        min-height: 1500px;
        
      }  

      .tag{
        font-size: 40px;
        text-align: center;
        margin-top: 20%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 40%;
        filter: drop-shadow(3px 3px 3px #222); 
      }
    
    .playercont{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 300px;
        background: transparent;
        margin-top: 20px;
    }
    
    .player  {
        width: 100%;
        height: 300px;
    }

    .visiblecol{
      display: none;
    }

    .visiblerow{
      display: block;
    }

    .blogcontent{
      font-weight: 700;
      font-size: 15px;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      
    }

    .author{
      font-weight: 700;
      font-size: 25px;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
      
    }

  }
  