<!-- <ng-container style="min-width: 100%; min-height: 100%; z-index: 1; position: relative;" *ngIf="loading" >
  <div class="d-flex justify-content-center loading">
    <p class="loader" >Loading</p>
  </div>
</ng-container>
<ng-container>
  <div class = "container back ">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 style="font-family:'Bebas Neue', cursive;" class="tag" >{{uData.title}}</h1>
        </div>
    </div>
  </div>
</ng-container> -->
<div class="mainback">
  <ng-container style="min-width: 100%; min-height: 100%; z-index: 1; position: relative;" *ngIf="loading" >
    <div class="d-flex justify-content-center loading">
      <p class="loader" >Loading</p>
    </div>
  </ng-container>
  
  <div class = "container back">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 style="font-family:'Bebas Neue', cursive;" class="tag" >Contact Us</h1>
        </div>
    </div>
  </div>
  
    <div class="container">
      <div class="row">
        
      <div class="col-md-6 map">
      
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.3528973387993!2d72.90946941490083!3d19.048215687103834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c5f39a7d77d1%3A0x9ebbdeaea9ec24ae!2sShah%20%26%20Anchor%20Kutchhi%20Engineering%20College!5e0!3m2!1sen!2sin!4v1610472312206!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      
      </div>
    <div class=" col-md-6">
      <mat-form-field class="textfields" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="fname" matInput placeholder="Type Here">
      </mat-form-field>
        <mat-form-field class="textfields" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input [(ngModel)]="lname"  matInput placeholder="Type Here">
        </mat-form-field>
        <mat-form-field class="textfields" appearance="outline">
          <mat-label>Email-Id</mat-label>
          <input [(ngModel)]="email" type="email"  matInput placeholder="Type Here">
        </mat-form-field>
    
        <mat-form-field class="textfields" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input [(ngModel)]="phone" type="number" maxlength="10"  matInput placeholder="Type Here">
        </mat-form-field>
    <button class="textfields" mat-raised-button color="primary" (click)="contact()"[disabled]="!fname || !lname || !email || !phone">{{buttonText}}</button>
    
    
  </div>
  </div>

</div>
  <div style="width: 100%; " class="d-flex justify-content-center " style="margin-top: 10%;">
    <div class="mainrow ">
      <ng-container>
          <div  class="shadow p-3">
            <p class="teamname"> Get the membership
            
            
              
            <button mat-raised-button color="primary" routerLink='/membership' > Membership </button>
             
              </p>
              
          </div>      
      </ng-container>
    </div>
    </div>
    <div>
     


  
    </div>
 
</div>
 
